START
PUSHS "INTRODUZA UM NUMERO DECIMAL INTEIRO:"
WRITES
WRITELN
READ
ATOI
STOREG 0
L0:
PUSHI 2
STOREG 1
L1:
PUSHG 1
PUSHI 9
INFEQ
JZ L2
PUSHG 1
PUSHG 0
PUSHA FUNCCONVRT
CALL
SWAP
POP 1
SWAP
POP 1
STOREG 2
PUSHS "BASE "
WRITES
PUSHG 1
WRITEI
PUSHS ": "
WRITES
PUSHG 2
WRITEI
WRITELN
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP L1
L2:
STOP
FUNCCONVRT:
PUSHI 0
STOREL 6
PUSHI 1
STOREL 5
PUSHL 1
STOREL 3
L3:
PUSHL 3
PUSHI 0
SUP
JZ L4
PUSHL 3
PUSHL 2
MOD
STOREL 4
PUSHL 6
PUSHL 4
PUSHL 5
MUL
ADD
STOREL 6
PUSHL 3
PUSHL 2
DIV
STOREL 3
PUSHL 5
PUSHI 10
MUL
STOREL 5
JUMP L3
JUMP L4
L4:
PUSHL 6
STOREL 0
RETURN
