START
PUSHI 0
STOREG 0
PUSHI 0
STOREG 1
PUSHI 0
STOREG 2
PUSHI 0
STOREG 3
PUSHS "INTRODUZA UM NUMERO DECIMAL INTEIRO:"
WRITES
WRITELN
READ
ATOI
STOREG 0
L0:
PUSHI 2
STOREG 1
DOLOOP1:
PUSHG 1
PUSHI 9
INFEQ
JZ DOEND2
PUSHI 0
PUSHG 1
PUSHG 0
PUSHA FUNCCONVRT
CALL
POP 2
STOREG 2
PUSHS "BASE "
WRITES
PUSHG 1
WRITEI
PUSHS ": "
WRITES
PUSHG 2
WRITEI
WRITELN
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP DOLOOP1
DOEND2:
STOP
FUNCCONVRT:
PUSHN 4
PUSHI 0
STOREL 3
PUSHI 1
STOREL 2
PUSHL -1
STOREL 0
L3:
PUSHL 0
PUSHI 0
SUP
JZ IFEND4
PUSHI 0
PUSHL -2
PUSHL 0
PUSHA MOD
CALL
POP 2
STOREL 1
PUSHL 3
PUSHL 1
PUSHL 2
MUL
ADD
STOREL 3
PUSHL 0
PUSHL -2
DIV
STOREL 0
PUSHL 2
PUSHI 10
MUL
STOREL 2
JUMP L3
IFEND4:
PUSHL 3
STOREL -3
POP 4
RETURN
MOD:
PUSHL -1
PUSHL -2
MOD
STOREL -3
RETURN
