START
PUSHS INTRODUZA UM NUMERO DECIMAL INTEIRO:
WRITES
WRITELN
READ
STOREG 0
L0:
PUSHI 2
STOREG 1
L1:
PUSHG 1
PUSHI 9
INFEQ
JZ L2
STOREG 2
PUSHS BASE 
WRITES
PUSHG 1
WRITEI
PUSHS : 
WRITES
PUSHG 2
WRITEI
WRITELN
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP L1
L2:
STOP
