START
PUSHI 0
STOREG 0
PUSHS Introduza 5 numeros inteiros:
WRITES
WRITELN
L0:
PUSHI 1
STOREG 1
L1:
PUSHG 1
PUSHI 5
INFEQ
JZ L2
READ
PUSHG 1
STOREA 2
PUSHG 0
ADD
STOREG 0
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP L1
L2:
PUSHS A soma dos numeros e: 
WRITES
PUSHG 0
WRITEI
WRITELN
STOP
